certifi==2020.6.20
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
cycler==0.10.0
Fiona==1.8.13.post1
kiwisolver==1.2.0
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
munch==2.5.0
olefile==0.46
pandas==1.1.2
pyparsing==2.4.7
pyproj==2.6.1.post1
python-dateutil==2.8.1
pytz==2020.1
Rtree==0.9.4
seaborn==0.10.1
Shapely==1.7.0
six==1.15.0
tornado==6.0.4
wincertstore==0.2
